/* start breadcrumb section */
.breadcrumb_section {
    width: 100%;
    min-height: 50vh;
    max-height: 70vh;
    background-image: url("../../images/desktop-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: var(--secondary-color);
        font-family: "Oswald", sans-serif;
        font-size: 55px;
        z-index: 10;
    }
}

@media (max-width:992px) {
    .breadcrumb_section {
        background-image: url("../../images/mobile-bg.png");
    }

    @media (max-width:1200px) and (min-width:992px) {
        .breadcrumb_section {
            background-image: url("../../images/tablet-bg.png");
        }
    }
}

/* end breadcrumb section */

/* start contact us section */

.contact_us {
    padding: 120px 0 !important;
    border-width: 0;
    border: none !important;
    outline: none !important;
    outline-width: 0 !important;

    select {
        background-color: rgb(94, 91, 91);
        border: none;
        border-radius: 4px;
        color: white;
        padding: 10px;
    }

    h2 {
        font-size: 2.5rem;
        color: white;
        border-left: solid 3px var(--secondary-color);

        span {
            color: var(--secondary-color);
        }
    }

  

    p {
        font-size: 1.1rem;
        color: gray;
    }

    input {
        padding: 10px;
        border-radius: 4px;
        transition: all 0.3s ease-out;
        color: white !important;

        &::placeholder {
            transition: opacity 0.3s ease-out;
        }

        &:focus {
            outline: none;

            &::placeholder {
                opacity: 0;
            }
        }
    }

    textarea {
        resize: none;
        height: 100px;
        border-radius: 4px;
        transition: all 0.3s ease-out;
        color: white !important;

        &::placeholder {
            transition: opacity 0.3s ease-out;
        }

        &:focus {
            outline: none;

            &::placeholder {
                opacity: 0;
            }
        }
    }

    input.form-control:focus,
    textarea:focus,
    select:focus {
        outline: none !important;
        border-color: var(--secondary-color);
        box-shadow: none;
    }

    .form-control {
        outline: none;
        border: none;
        box-shadow: none;
        transition: all 0.5s ease-in-out;
        border: 1px solid transparent;
        background-color: rgb(94, 91, 91);
    }

    input::placeholder,
    textarea::placeholder {
        color: white;
    }
}

@media (max-width :1199px) and (min-width:992px) {
    .contact_us {
        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }

}

@media (max-width :992px) {
    .contact_us {
        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

}

/* end contact us section */

/* start details section */

.details {
    width: 100%;

    .Card {
        /* border: none; */
        background-color: transparent;

        h2 {
            font-size: 28px;
            color: white;
        }

        p {
            font-size: 16px;
            color: white;
        }

        a {
            color: var(--secondary-color);
            text-underline-offset: 3px;
        }

        h5 {
            color: white;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 2px;
        }
    }
}

/* end details section */

/* start support section */
.support {
    margin-top: 50px;
    padding: 80px 0;
    background: url("../../images/title-bar-01-bg.webp");

    .layer {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    h2 {
        color: white;
        font-size: 40;

        span {
            color: var(--secondary-color);
        }
    }

    @media screen and (max-width: 992px) {
        h2 {
            font-size: 30px;
        }
    }
}

/* end support section  */