/* start services section */
.services {
    .card {
        padding: 60px 0;
        background: transparent;
        border: none;

        img {
            width: 100px;
        }

        h5 {
            color: var(--secondary-color)
        }

        p {
            color: gray;
            font-size: 15;
        }
    }
}

/* end services section  */

/* start our company section */
.our_company {
    h3 {
        color: #686663;
    }

    @media screen and (max-width: 992px) {
        h3 {
            font-size: 1.2rem !important;
        }
    }

    h2 {
        color: white;
        font-size: 20px;

        /* width: 50%; */
        span {
            color: var(--secondary-color);
        }
    }

    @media screen and (max-width: 992px) {
        h2 {
            font-size: 2rem !important;
        }
    }

    p {
        color: gray;
        margin: 20px 0;
    }

    .video_and_image {
        position: relative;
        margin-top: 100px;

        .video {
            width: 350px;
            margin: 0 auto;
        }

        .main_img {
            position: relative;
            z-index: 999;
            width: 100%;
        }

        .img_1 {
            position: absolute;
            top: -55px;
            left: -40px;
            width: 183px;
        }

        .img_2 {
            position: absolute;
            top: -60px;
            right: 10px;
            width: 120px;
        }

        .img_3 {
            position: absolute;
            bottom: -85px;
            left: 10px;
            width: 120;
        }

        .img_4 {
            position: absolute;
            bottom: -80px;
            right: -40px;
            width: 130px;
        }
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    .video {
        width: 500px !important;
    }
}

@media screen and (min-width:992px) {
    .video {
        width: 400px !important;
    }
}

/* start managed section */
.managed-section {
    background-image: url("../assets/images/bg\ \(2\).png");
    background-size: cover;
    padding-top: 120px !important;
}

.managed-title {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.managed-title>h4 {
    color: #d3b073;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.43;
}

.managed-title>h2 {
    font-size: 40px;
    color: white;
}

.managed-section .card {
    width: 400px;
    height: 420px;
    margin-top: 50px;
    background-color: #23232527;
    color: var(--secondry-color);
}

.managed-section .card img {
    width: 120px;
    padding-left: 30px;
    padding-top: 50px;
}

.managed-section .card-title {
    padding-left: 20px;
    padding-top: 30px;
}

.managed-section .card-text {
    padding-left: 20px;
    padding-top: 20px;
}

.managed-section .card-body>a {
    margin-left: 20px;
    margin-top: 20px;
}

.managed-section .card-button {
    padding-left: 20px;
    padding-top: 20px;
}

.managed-section .card-button .btn {
    color: #d3b073;
    font-size: 16px;
}

.managed-section .card:hover {
    background-color: #d3b073;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: white;
}

@media screen and (max-width: 992px) {


    .managed-title>h2 {
        font-size: 2rem !important;
    }
}

/* end managed section */

/* start service */
.service {
    background-image: url("../../images/mitech-call-to-action-image-global.webp");
    background-repeat: no-repeat;

    background-position: right;

}

.service span {
    color: #d3b073;
}

.service h3 {
    color: white;
    font-size: 45px;
}

.service .lets-talk {
    margin-top: 10px;
    padding: 15px 44px;
    border-radius: 5px;
    color: #232325;
    background-color: #d3b073;
    font-size: 15px;
    font-weight: 500;
    transition: .6s;

}

.service .lets-talk span {
    color: #232325;
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
}

.service .lets-talk:hover {
    background-color: #232325;
    border: solid 1px #d3b073;

    i {
        color: #d3b073;
    }

    span {
        color: #d3b073;
    }
}

.service .Get-info {
    margin-top: 10px;
    padding: 15px 47px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #d3b073;
    background-color: #232325;
    border: solid 1px #d3b073;
    transition: .6s;
}

.service .Get-info:hover {
    color: #232325;
    background-color: #d3b073;

    i {
        color: #232325;
    }

    span {
        color: #232325;
    }


}


/* end service */

/* start studies */
.studies {
    color: white;
}


.studies h3 {
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 17px;
}

.studies p {
    max-width: 600px !important;
}

.studies .cyber {
    font-size: 20px;
    font-weight: 400;
    color: #d3b073;
}

.studies-content {
    margin-top: 5rem !important;
}

.studies img {
    width: 100%;
}



/* end studies */