.btn-primary {
    background-color: var(--secondary-color) !important;
    border-color: transparent !important;
    color: var(--primary-color) !important;
    border-radius: 4px !important;
}

.btn-primary:hover {
    background-color: transparent !important;
    color: var(--secondary-color) !important;
}

.btn-outline-primary {
    border-color: var(--secondary-color) !important;
    color: var(--secondary-color) !important;
    border-radius: 4px !important;
}

.btn-outline-primary:hover {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}
